body {
    font-family: 'Rubik', sans-serif;
}

section {
    display: flex;
}

.first {
    padding: 5%;
}

.bio {
    flex: 0 0 50%;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

.name {
    color: orange;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.img1 {
    margin-left: 10%;
}