body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
    color: dimgray;
}

.name {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 5%;
}

.half {
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 2%;
}

.half img {
    width: 80%;
}

.hire-me {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(lightsalmon, tomato);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}

.first {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.third {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#exp {
    text-align: center;
    color: slateblue;
}

.box {
    box-shadow: 10px 10px 40px grey;
    width: 34%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    padding-left: 40px;
}

#box1 {
    border-left: 10px solid tomato;
}

#box2 {
    border-left: 10px solid blueviolet;
}

footer {
    text-align: center;
}