body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
    color: dimgray;
}

.name {
    color: orange;
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 7%;
    margin-top: 7%;
}

.half img {
    width: 80%;
}

.hire-me {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(lightsalmon, tomato);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}

.first {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}